@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");


* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    background-color: rgb(113, 240, 198);
    color: #001f3f;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    grid-area: header;
}

.navbar {
    grid-area: navbar;
}

.carousel {
    grid-area: carousel;
}

.galeriaVideos {
    grid-area: galeriaVideos;
}

footer {
    grid-area: footer;
}


h2 {
    padding-top: 100px;
}


.videos {
    display: grid;
    gap: 15px;
    justify-items: center;
}

.contenedor {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "header"
        "navbar"
        "carousel"
        "galeriaVideos"
        "footer";
}



@media (min-width:320px) {

    

.videos {
    display: grid;
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

    .contenedor {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "navbar navbar"
            "carousel carousel"
            "galeriaVideos galeriaVideos"
            "footer footer";
    }



}